.mainbody{
  width: 100%;
}
.landernav{
  overflow: hidden;
  position: fixed;
  top:5%;
  right:0%;
  /* margin-top:3%; */
  width:65%;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
}
.navlinks{
  text-decoration: none;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Acme', sans-serif;
  /* font-family: 'Goldman', cursive; */
  /* font-family: 'Kanit', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Prompt', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto Slab', serif;
  font-family: 'Russo One', sans-serif;
  font-family: 'Secular One', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Vollkorn', serif; */
}
.navlinks:hover{
  background-color: rgb(21, 21, 21);
  border-radius: 0.4rem;
}
.navlinks:hover>.navopts{
  color: rgb(236, 236, 236);
}
.navopts{
  color: rgb(21, 21, 21);
  text-decoration: none;
  font-size: 1rem;
  margin-left:10px;
  
}

.clientlinks:hover{
  background-color: rgb(245, 245, 245);
  border-radius: 0.4rem;
}
.clientlinks:hover>.clientnavopts{
  color: rgb(13, 13, 13);
}
.clientnavopts{
  color: rgb(243, 243, 243);
  text-decoration: none;
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 20px;  
}
/* landing page start */

.comptitleplacehold{
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Goldman', cursive;
    /* font-family: 'Kanit', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Patua One', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Vollkorn', serif; */
    color: black;
}
.searcharea{
  position: relative;
  top: 40%;
  margin-left: 3%;
  background-color: whitesmoke;
  min-height: 40vh;
  display: block;
  overflow:hidden;
  align-items: center;
  width: 45%;
  min-width: 300px;
  border-radius: 0.4rem;
}
.hellotext{
  position: relative;
  top: 48%;
  padding-left: 40%;
}
.hellotextlarge{
  color: black;
}
.uploadbom{
  padding-top: 3%;
}
.uploadbombtn{
  margin-left: 10%;
  background: none;
  border: dashed;
  color: black;
}
.searchlandcontent{
  margin-left: 6%;
  
}
.landingback{
  color: whitesmoke;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  background-image: url(/assets/staticimgs/peopleland.jpg);
}

.landweltext{
      /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Acme', sans-serif;
    /* font-family: 'Goldman', cursive; */
    /* font-family: 'Kanit', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Patua One', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Vollkorn', serif; */
    font-size: 25px;
    color: black;
}
.landingcategories{
  padding-left: 20%;
  width:100%;
  justify-content: center;
  align-items: center;
  overflow:auto;
  border: none;
  box-shadow: 5px 5px 5px 5px #bebebe;
}
.landingcategory{
  float: left;
  margin: 1%;
  position: relative;
}
.categorytransition{
  height: 150px;
  width:200px;
  align-items: center;
  background-color: rgb(165, 165, 165);
  color: rgb(14, 13, 13);
  font-size: xx-large;
  border-radius: 3px;
  text-align: right;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Acme', sans-serif;
  /* font-family: 'Goldman', cursive; */
  /* font-family: 'Kanit', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Prompt', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto Slab', serif;
  font-family: 'Russo One', sans-serif;
  font-family: 'Secular One', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Vollkorn', serif; */

}
.categoryimage{
  position: absolute;
}
.categorynametext{
  padding-top: 30%;
}
.sectiontitle{
        /* font-family: 'Abril Fatface', cursive; */
        font-family: 'Acme', sans-serif;
        /* font-family: 'Goldman', cursive; */
        /* font-family: 'Kanit', sans-serif;
        font-family: 'Lobster', cursive;
        font-family: 'Merriweather', serif;
        font-family: 'Patua One', cursive;
        font-family: 'Prompt', sans-serif;
        font-family: 'Righteous', cursive;
        font-family: 'Roboto Slab', serif;
        font-family: 'Russo One', sans-serif;
        font-family: 'Secular One', sans-serif;
        font-family: 'Varela Round', sans-serif;
        font-family: 'Vollkorn', serif; */
        font-size: 25px;
        margin-left: 2%;
        color: black;
}
.landfeaturedprods{
  margin-top: 2%;
  width:100%;
  justify-content: center; 
  overflow:auto;
  padding-top: 1%;
  background-color: #f0f0f0;
}
.prodsland{
  margin: 3%;
  float: left;
}
.aboutsection{
  margin-left: 2%;
  width: 98%;
  display: block;
  overflow: auto;
  justify-content: center; 
}
.aboutcse{
  margin-left: 3%;
  width:50%;
  margin-top:2%;
}
.abouttexts{
  width: 29%;
  min-width: 250px;
  display: block;
  overflow: none;
  margin: 1.5%;
  float: left;
  text-align: justify;
  text-justify: inter-word;
}
.blogsection{
  background-color: #f0f0f0;
  width:100%;
  margin-top: 10px;
  padding-top: 15px;
  display: block;
  overflow: auto;
}

.blogs{
  float: left;
  margin: 2%;
}
/* where footer starts */
#footer{

  font-family: 'Vollkorn', serif;
  display:grid;
  justify-content: center;
  background-color: rgb(81, 80, 80);
  position: sticky;
  top: 100%;
  padding-top: 20px;
 
}
.footerinfo{
  color: rgb(193, 193, 193);
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

#socials{
  font-size: 22px;
}
#infolinks{
  list-style: none;
}
.pagelinks{
  text-decoration: none;
  color: black;
}
.footerlinks{
  padding-top: 15px;
}
.tablesection{
  width: 80%;
  margin-left: 2%;
}
.adsesection1{
  width: 80%;
  margin-left: 2%;
  height: 20vh;
  background-color: #bebebe;
}
.tableheader{
  background-color: rgb(37, 37, 37);
  color: white;
}
.resultssearchnumber{
  margin-left: 2%;
}
.filtersection{
  margin-left: 2%;
}